<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Options" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Report" tabIcon="contacts"></ion-tab>
</ion-tabs>
