<ion-header>
  <ion-navbar>
    <ion-title>Report Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button block large ion-button type="button" (click)="sendEmail()">Email me the data</button>


  <ion-list>
    <ion-item *ngFor="let item of pottyTimeService.AllPottyTimes; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col width-20>{{i + 1}}</ion-col>
          <ion-col width-60>{{item.cleanName()}}</ion-col>
          <!--<ion-col width-50>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
        </ion-col>-->
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
