<ion-header>
  <ion-navbar>
    <ion-title>Potty Time</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<h2 style="width:100%">Potty Time</h2>-->
  <ion-card *ngIf="showCard">
    <ion-card-content>
      <div>Next Potty Time: {{pottyTimeService.nextAlertTime | date:'shortTime'}}</div>
    </ion-card-content>
  </ion-card>

  <hr>
  <!--<div *ngIf="showTimeStarted">Time Started {{TimeStarted}}</div>-->
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="MM/DD/YYYY h:mm A" [(ngModel)]="pottyTime.timeStarted"></ion-datetime>

  </ion-item>
  <button block large ion-button type="button" (click)="PottyTime()">Potty Time</button>
  <ion-list>
    <ion-item *ngFor="let item of pottyTimeService.pottyTimesForToday; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col width-20>{{i + 1}}</ion-col>
          <ion-col width-70>{{item.justTime()}}</ion-col>
          <ion-col width-10>
            <ion-icon (click)="RemoveItem(item)" name="close"></ion-icon>
          </ion-col>
          <!--<ion-col width-50>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.pottytime"></ion-datetime>
        </ion-col>-->
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>