<ion-header>
  <ion-navbar>
    <ion-title>
      Options
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <div *ngIf="somethingChange">Saved....</div>
    
  <ion-item >
    <ion-label>Primary Alert Times</ion-label>
    <ion-datetime (ionChange)="changed()"  minuteValues="0,1,3,15,30,45" displayFormat="H:mm" pickerFormat="H mm" [(ngModel)]="currentOptions.primaryAlertTime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Secondary Reminders</ion-label>
    <ion-datetime (ionChange)="changed()" minuteValues="0,1,3,15,30,45" displayFormat="H:mm" pickerFormat="H mm" [(ngModel)]="currentOptions.secondaryAlertTime"></ion-datetime>
  </ion-item>
  <button class="deleteData" block large ion-button type="button" (click)="DeleteAllData()">Delete All Data</button>

  <button class="deleteData" block large ion-button type="button" (click)="CancelAllAlerts()">Cancel All Alerts</button>
</ion-content>
